<!DOCTYPE html>

<html ng-app="angularBoot">

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular-route.min.js"></script>-->

    <script src="js/application.js"></script>

</head>

<body>

<div ng-controller="statsCtrl">
    <p>Enter your Name: <input type="text" ng-model="name"></p>
    <p>Hello <span ng-bind="name"></span>!</p>

    <table>
        <tr>
            <th>field</th>
            <th>count</th>
        </tr>
        <tr ng-repeat="row in rows">
            <td>{{ row.field }}</td>
            <td>{{ row.count }}</td>
        </tr>
    </table>
</div>

</body>

</html>